.SearchResults h2 {
  margin-bottom: 0;
}
.SearchResults table {
  border-spacing: 0;
  width: 100%;
}
.SearchResults table.institutions {
  margin: 0 0 2em;
}

.SearchResults tr.otherData {
  margin-top: 0;
}

.SearchResults tr.otherData table {
  border: none;
  font-size: 0.8em;
  margin-bottom: 2.5em;
}

.SearchResults tr.otherData thead th {
  background-color: transparent;
}

.SearchResults tr.otherData td {
  border-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.SearchResults tr.otherData td td {
  padding: 1rem 1.5rem;
}

.SearchResults tr.otherData.hidden {
  display: none;
}

.SearchResults thead th {
  background-color: transparent;
  border-bottom: 1px solid #d6d7d9;
  border-top: 0;
  color: #323a45;
  font-weight: 700;
  padding: 1rem 1.5rem;
  text-align: left;
  text-transform: uppercase;
}

.SearchResults thead th,
.SearchResults thead td {
  background-color: #f1f1f1;
}

.SearchResults td {
  background-color: #ffffff;
  border-top: 1px solid #d6d7d9;
  border-bottom: 0;
  font-weight: 400;
  padding: 1rem 1.5rem;
}

.SearchResults td span {
  color: #5b616b;
}

.SearchResults th,
.SearchResults td {
  border-left: 0;
  border-right: 0;
}

.SearchResults caption {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Merriweather', 'Georgia', 'Cambria', 'Times New Roman', 'Times',
    serif;
  margin-bottom: 1.2rem;
  text-align: left;
}

.SearchResults .action {
  text-align: right;
}

.SearchResults .action a,
.SearchResults .action a:visited {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #0071bc;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.SearchResults .action a:hover,
.SearchResults .action a:visited:hover {
  background-color: #205493;
}
.SearchResults .action a:active,
.SearchResults .action a:visited:active {
  background-color: #112e51;
}

.SearchResults .action button {
  border: 0;
  color: #0071bc;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1;
  margin-right: 2em;
  padding: 0;
}

.SearchResults .action button:hover,
.SearchResults .action button:visited:hover {
  color: #205493;
}
.SearchResults .action button:active,
.SearchResults .action button:visited:active {
  color: #112e51;
}


